.center{
  display: block;
  margin: auto;
  width: 40%;
  height: 200px;
  width: 350px;
}
p {
  color: black;
  background-color: white;
}

.boxes {
  float:left;
  width:33.3333333333%;

}
.boxes p {
  padding: auto;
  margin: auto;
  /*font-size: 25px;*/
  height: 100%;
  width: 100%;
}
.boxes img {
  width:100%;
  height:200px;
}

html {
  background: url(https://tcrf.net/images/3/36/Smk_title_bg_jp.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#mario{
   height: 150px;
   width: 150px;
}
#princess{
  height: 150px;
}
.header{
  height: 200px;
  margin-bottom: 20px;
  /*Have to have this for the container that holds floated elements*/
  overflow:hidden;
}
.character{
  margin-top: 100px;
}
button {
  height: 50px;
}
